@{
    ViewData["Title"] = "Terra Insurance Services";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="row">
    <div class="col-md-push-3">
        <ul>
            <li>
                <a>Larry Homes - 123 Peach St Erie, PA 16501</a>
                <button class="btn-primary" style="float:right; margin-right:50px;" >Edit Account</button>
            </li>
        </ul>
        <ul>
            <li>
                <a>Rick James - 589 Death Row, FL 19201</a>
                <button class="btn-primary" style="float:right; margin-right:50px;" >Edit Account</button>
            </li>
        </ul>
        <ul>
            <li>
                <a>Scott Schnars - 999 Erie PL, PA 16501</a>
                <button class="btn-primary" style="float:right; margin-right:50px;" >Edit Account</button>
            </li>
        </ul>
    </div>
</div>
