@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="row">
    <form>
        Alert Preferences:<br />
        <input type="checkbox" name="cell" />Txt2Cell<br />
        <input type="checkbox" name="homephone" />Voicemail Home<br />
        <input type="checkbox" name="email" />E-Mail Me<br />
        <input type="checkbox" name="mail" />Mail<br />
        <button class="btn-primary">Update!</button>
        <br />
        <br />
        Alert Types:<br />
        <input type="checkbox" name="cell" />Payment Reminder<br />
        <input type="checkbox" name="homephone" />Renewal<br />
        <input type="checkbox" name="email" />Agency Alerts<br />
        <button class="btn-primary">Update!</button>
    </form>
</div>
