@{
    ViewData["Title"] = "My Policies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="row">
    <div class="col-md-push-3">
        <ul>
            <li>
                <h2>Paypal</h2>
                <h2>PopMoney</h2>
                <h2>Debit/Credit</h2>
            </li>
        </ul>
    </div>
</div>

<p>ERIEpay will aid customer's payment experience.</p>
