@{
    ViewData["Title"] = "Claim";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h2>When disaster hits we're here for you.</h2>
    <form>
        Location:<br />
        <input type="text" name="location" /><br />
        Policy Affected:<br />
        <input type="radio" name="policy" value="Auto (Q92 8327 928)" /><br />
        <input type="radio" name="policy" value="Life (Q92 8327 928)"/><br />
        <input type="radio" name="policy" value="Home (Q92 8327 928)"/><br />
        <button class="btn-primary">Send!</button>
    </form>
</div>


