@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Erie Insurance
	100 Erie Insurance Place
	<br />
    Erie, PA 16530<br />
    <abbr title="Phone">P:</abbr>
    814.870.2000
</address>


