@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div>
    <h2>Update Contact Information</h2>
    <form>
        First Name:<br />
        <input type="text" name="Firstname" /><br />
        Last Name:<br />
        <input type="text" name="Lastname" /><br />
        Address:<br />
        <input type="text" name="Address" /><br />
        City:<br />
        <input type="text" name="City" /><br />
        State:<br />
        <input type="text" name="State" /><br />
        Zip:<br />
        <input type="text" name="Zip" /><br />
        Home Phone:
        <input type="text" name="HPhone" /><br />
        Cell:
        <input type="text" name="CPhone" /><br />
        E-mail:
        <input type="text" name="eMail" /><br />
        <br />
        <button class="btn-primary">Update!</button>
    </form>
</div>
