@{
    ViewData["Title"] = "My Policies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-push-3">
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Auto (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right">Send Payment</button>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Life (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right">Send Payment</button>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Home (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right">Send Payment</button>
            </li>
        </ul>
    </div>
</div>

<p>ERIEpay will aid customer's payment experience.</p>
