@{
    ViewData["Title"] = "My Policies";
    <div class="badge" style="float:right; align-content:center;">
        <div class="col-md-push-3" style="float:right;">
            <img src="~/images/colleen-terra.jpg" style="float:right" />
            <address style="float:right; align-content:center">
                Terra Insurance Services
                <br />
                1879 Cottman Avenue
                <br />
                Philadelphia, Pennsylvania 19111
                <br />
                <abbr title="Phone"></abbr>
                814.870.2000
            </address>
        </div>
    </div>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="row">
    <div class="col-md-push-3">
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Auto (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right" href="https://www.fiserv.com/industries/bank-platforms/multi-platform-solutions/web-services.aspx">Send Payment</button>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Life (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right" href="https://www.fiserv.com/industries/bank-platforms/multi-platform-solutions/web-services.aspx">Send Payment</button>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Home (Q92 8327 928)</a>
                <button class="btn-primary" style="float:right" href="https://www.fiserv.com/industries/bank-platforms/multi-platform-solutions/web-services.aspx">Send Payment</button>
            </li>
        </ul>
    </div>
</div>

<p>ERIEpay will aid customer's payment experience.</p>
