@{
    ViewData["Title"] = "My Profile";
}
<div class="row">
    <div class="col-md-3">
        <h2>Information Home</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">View my ID cards</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">View my Agent Information</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sign-up for EriePay</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Help save the Earth! Sign-up for ERIEPay and we'll plant a sappling.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Help &amp; Answers</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Ask Henry!</a></li>
        </ul>
    </div>
</div>
