@{
    ViewData["Title"] = "My Profile";
}
<div class="row">
    <div class="col-md-push-3">
        <h2>Information Home</h2>
        <ul>
            <li><a href="/Home/IDCard">View my ID cards</a></li>
            <li><a href="/Home/CustContact">My Contact Information</a></li>
            <li><a href="/Home/Alert">Alerts</a></li>
            <li><a href="/Home/Billing">Billing Options</a></li>

        </ul>
    </div>
    <div class="col-md-push-3">
        <h2>Sign-ups</h2>
        <ul>
            <li><a href="/Home/Documents">Digital Documents Sign-up</a></li>
            <li><a href="/Home/Autopay">Autopay Sign-up</a></li>
        </ul>
    </div>
    <div class="col-md-push-3">
        <h2>Help &amp; Answers</h2>
        <ul>
            <li><a href="/Home/ChatBot">Ask Henry!</a></li>
        </ul>
    </div>
</div>
